<div class="results-legend">
  <% questionData.totals.forEach(function(total) { %>
    <div class="chip result-total" style="border-right: 3px solid <%= (questionData.colorMap || {})[total.name.toString()] %>">
      <%= total.name %> <%= total.average %> (<%= total.value %>)
    </div>
  <% }); %>
</div>

<div class="row">
  <div id="question-<%= questionData.question._id %>-primary-chart-<%= isCompare ? 'compare' : 'default' %>" class="col l12">
  </div>
</div>
